In [1]:
def greet():
    print('hello')
    print('Good  Morning Team')

In [2]:
def greet():
    print('hrllo')
    print('Good Morning Team')

greet()

hrllo
Good Morning Team

In [3]:
def greet():
    print('print')
    print('Good Morning Team ')
greet()

def greet():
    print('hello')
    print('Good Morning team')
greet()

print
Good Morning Team
hello
Good Morning team

In [4]:
def grert():
    print('hello')
    print('Good Morning Team')
greet()
    
print()

def greet():
    print('hello')
    print('Good Morning Team')
greet()

hello
Good Morning team

hello
Good Morning Team

In [5]:
def greet():
    print('hello')
    print('Good Mroning Team')
greet()

print()

def greet():
    print('hello')
    print('Good Morning Team')
greet()

print()

def greet():
    print('hello')
    print('Good Morning Team')
greet()

hello
Good Mroning Team

hello
Good Morning Team

hello
Good Morning Team

In [6]:
def geet():
    print('hello')
    print('Good Moring Team')
    
greet()
print('**********')
greet()
print('**********')
greet() # Function calling with out argument

hello
Good Morning Team
**********
hello
Good Morning Team
**********
hello
Good Morning Team

In [7]:
# function without argument

In [8]:
def greet():
    print('Hello')
    print('Good Morning Team')
greet()

Hello
Good Morning Team

In [9]:
# function with argument

In [11]:
def add(x,y):
    c =  x+y
    print(c)
add(2, 3)

5

In [ ]:
# function with return

In [13]:
def add(x,y):
    c = x+y
    return c
add(4,5)

9

In [14]:
def add(x,y,z):
    c = x+y+z
    return c
add(55,66,77)

198

In [15]:
def add(x,y,z,n):
    c = x+y+z+n
    return c
add(55,66,77,88)

286

In [16]:
def greet():
    print('hello')
    print('Good Morning Team')
greet()

def add(x,y):
    c = x+y
    return c
add(4,5)

hello
Good Morning Team

9

In [19]:
def greet():
    print ('hello')
    print('Good Morning Team')
    
def  add(x,y):
    z = x+y
    return z
add(4,5)

def sub(x,y):
    c = x-y
    return c
sub(4,5)

greet()
print(add(4,5))
print(sub(4,5))

hello
Good Morning Team
9
-1

In [20]:
def add_sub_mult(x,y):
    d = x+y
    c = x-y
    a = x*y
    return d,c,a
result = add_sub_mult(55,66)
print(result)
print(type(result))

(121, -11, 3630)
<class 'tuple'>

In [21]:
def add_sub(x,y):
    c = x+y
    d = x-y
    return c, d
result, result1 = add_sub(55,66)

print(result)
print(result1)
print(type(result))

121
-11
<class 'int'>

In [24]:
def add_sum_mul(x,y):
    c = x+y
    d = x-y
    f = x*y
    return c,d,f

add,sub,mul = add_sum_mul(55,66)

add
sum
mul

3630

# Update

In [25]:
def update():
    x = 8
    print(x)
update()

8

In [28]:
def update():   # update function takr the value from the user
    x = 8
    print(x)
update(9)

TypeError: update() takes 0 positional arguments but 1 was given

In [29]:
def update(x):
    x =10
    return x 
update(100)

10

In [30]:
def update(x):
    x = 8
    return x 

a = 15
update(a)
print(a)

15

In [31]:
def person(name,age):
    print(name)
    print(age)
person('nit', 22)

nit
22

In [32]:
def person(name , age):
    print(name)
    print(age-1)

person(age = 22, name = 'nit')

nit
21

In [33]:
def person (name,age, new_age):
    print(name)
    print(age-1)
    print(new_age)
person(age = 22 , name= 'aditya', new_age = 23)

aditya
21
23

# default argument

In [34]:
def person(name, age=18):
    print(name)
    print(age)
    
person('nit')

nit
18

In [35]:
def person(name,age=18):
    print(name)
    print(age)

person('nit', 40)

nit
40

# variable length argument

In [36]:
def person(name, age):
    print(name)
    print(age)

person('nit',40, 30,50,60,70,90)

TypeError: person() takes 2 positional arguments but 7 were given

In [37]:
def sum(a,b):
    c = a+b
    print(c)

sum(5,6,7,8)

TypeError: sum() takes 2 positional arguments but 4 were given

In [38]:
def sum(a, *b):
    c = a+b
    print(c)
    
sum(5,6,7,8)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [39]:
def sum(a, *b):  # 1st arugument is fixed ut for 2nd argument
    # c = a+b
    print(type(a))
    print(type(b))
    
sum(5,6,7,8)

<class 'int'>
<class 'tuple'>

In [41]:
def sum(a, *b):  # 1st argument is fixed & we fetch each value from the tuple & we can add them.
    c = a
    for i in b:
        c = c + i
    print(c)

sum(5,6,7,8)

26

In [43]:
def sum(a, *b): # 1st argument is fixed & we fetch each value from the tuple & we can add them.
    c = a
    for i  in b:
        c = c +i
    print(c)

sum(5,6,7,8,9,20)

55

In [44]:
def sum(a, *b):
    c = a
    for i in b:
        c = c + i
    print(c)
    
sum(5,6,7,8)

26

# kwargs

In [46]:
def person():
    person('Alex',36,'JOHN',97890)

In [47]:
def person(name, *data):
    print(name)
    print(data)
    
person('Alex', 36,  'JOHN', 87808)

Alex
(36, 'JOHN', 87808)

In [52]:
def person(name,*data):
    print('name')
    print(data)

person('ALEX', age = 36, home_place ='southcity', mob =987767)

TypeError: person() got an unexpected keyword argument 'age'

In [53]:
def person(name, **data):
    print('name')
    print(data)

person('ALEX', age = 36, home_place ='southcity', mob =987767)

name
{'age': 36, 'home_place': 'southcity', 'mob': 987767}

In [54]:
def person(name, **data):
    print('name')
    print(data)

person('ALEX', age = 36, home_place = 'southcity', mob = 987767, salary = 50000, married = 'yes')

name
{'age': 36, 'home_place': 'southcity', 'mob': 987767, 'salary': 50000, 'married': 'yes'}

# functional argument we are completed

# global variable  & local variable

In [55]:
a = 10 #-- global varible

def something():
    b = 15 # local variable

In [56]:
a = 10 #-- global variable 

def something():
    b = 15  # local variable
    
    print('in function',b)
    print('out function',a)

In [57]:
a = 10 
def something():
    b = 15
    print('in function', b)
    
print('out function',a)

out function 10

In [58]:
a = 10

def something():
    a =15
    
print('in function', a)

print('out function',a)

in function 10
out function 10

In [59]:
a =10
 
def something():
    b =15
    print('in function', b)  # local variable
    
something()

print('out function', a) # global variable

in function 15
out function 10

In [60]:
a = 10
def something():
    # if we remove this variable then can default it consider as global variable
    print('in function',a)
something()

print('out function',a)

in function 10
out function 10

In [61]:
a = 10
def something():
    b= 15 # 15 is converted to local whhen user assignedd global a
    print('in function',b)
    print('global variable', a)
    
something()

print('out  function', a)

in function 15
global variable 10
out  function 10

In [63]:
a = 20
def something():
    global a 
    a = 15 
    print('in function', a)
    
    a =15

something()
print('out function',a)

in function 15
out function 15

In [64]:
x = 10 # Global Variable

def update_x():
    global x # Declare that we are using the global variable x
    x += 5 # Modify the global variable
    
update_x()
print(x)  # output: 15

15

In [65]:
x = 10 # Global Varibale
def upadate_x():
    globals()['x'] += 5 # Access and modify the global variable using the dictionary
    
update_x()
print(x)

15